body {
  background: url(../img/pics.gif) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz- background-size:cover;
  -o- background-
  background-size:cover;
  background-attachment: fixed;
  margin: 0;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

.el-menu{
  font-size: 1.5em;
  color: white;
  display: inline-block;
  margin-left: 1em;
  margin-top: 1.2em;
  margin-right: 0.6em;
  font-family: 'Playfair Display', serif;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
}

.el-menu:hover{
  cursor: pointer;
  text-shadow: 0px 0px 30px rgba(255, 0, 0, 1);
  opacity: .8;
}

.menu-set{
  float: right;
  padding-right: 2.1em;
}

  /*Level 1 puzzle li*/
#puzzle_level1{
  max-width: 98.0392156862745%;
  width: 90%;
  padding-left: 8em;
  display: none;
}

#puzzle_level2{
  max-width: 98.0392156862745%;
  width: 68%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6.5em;
  /*LEVEL2*/
}

.puzzle-set{
/*  list-style-type: none;*/
}

.puzzle-set-2{
/*  list-style-type: none;*/
/*LEVEL2*/
}

.puzzle-set > li{
  display: inline-block;
  float: left;
  width: 18%;
}

.puzzle-set-2 > li{
  display: inline-block;
  float: left;
  width: 18%;
  /*LEVEL2*/
}


.puzzle-set > li > img{
  width: 100%;
  height: 100%;
/*  width: 18%;*/
  opacity: 1;
  margin-top: -5px;
  border:none;
}

.puzzle-set-2 > li > img{
  width: 100%;
  height: 100%;
  margin-top: -5px;
/*  width: 18%;
  opacity: 1;
/*  border:none;*/
/*LEVEL2*/
}

.puzzle-set > li > img:hover{
  opacity: 1;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.puzzle-set-2 > li > img:hover{
  opacity: 1;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
  /*LEVEL2*/
}

/*li{
  display: list-item;
}
*/
