body {
  background-attachment: fixed;
  -moz- background-size:cover;
  -o- background-
  -webkit-background-size:cover;
  background: url(../img/bg.gif) no-repeat center center fixed;
  background-size:cover;
  margin: 0;
}

a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: red;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:active {
  color: red;
  text-decoration: none;
}


#main-header{
  background-color: black;
  height: 5em;
  max-width: 100%;
  width: 100%;
  z-index: 1000;
}

#main_logo{/*h1 Logo*/
  color: white;
  float: left;
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  margin-left: 2%;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
}

#main_logo:hover{
  cursor: pointer;
  opacity: .8;
  text-shadow: 0px 0px 20px rgba(255, 0, 0, 1);
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#main__status{
  float: left;
  height: 50px;
  margin-top: 1em;
  width: 50px;
}

.el-menu{
  color: white;
  display: inline-block;
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  margin-left: 1em;
  margin-right: 0.6em;
  margin-top: 1.2em;
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.5);
}

.el-menu:hover{
  cursor: pointer;
  opacity: .8;
  text-shadow: 0px 0px 30px rgba(255, 0, 0, 1);
}

.menu-set{
  float: right;
  padding-right: 2.1em;
}

.record-box{
  border: .2em;
  float: left;
  margin: 0 auto;
  margin-left: 2em;
  margin-top: -3.4em;
  opacity: .9;
  position: fixed;
  z-index: 1000;
}


#footer_contact{
  bottom: 0;
  color: black;
  font-size: 1.2em;
  text-align: center;
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.5);
/*  display: none;*/
}
