/*DESKTOP*//*DESKTOP*//*DESKTOP*//*DESKTOP*/

@media (max-width: 900px){  /*DESKTOP*/
  .puzzle_nerds{
    font-size: 5em;
  }

}
/*DESKTOP*//*DESKTOP*//*DESKTOP*//*DESKTOP*/

/*TABLET*//*TABLET*//*TABLET*//*TABLET*/
@media (max-width: 1100px){  /*TABLET*/
  .puzzle_nerds{
    font-size: 4.5em;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #main-header{
    height: 8.5em;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #main_logo{
    font-size: 3.5em;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #puzzle-set-1{
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #puzzle-set-2{
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #main-about-box{
    background-color: black;
  /*  height: 31.9em;*/
    margin-left: 4.7em;
    margin-top: -8px;
    position: fixed;
    width: 80%;
    z-index: 1000;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #your-status{
    margin-top: -1.3em;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  .level-set{
    font-size: 1.5em;
    margin-left: 6em;
    margin-top: -0.9em;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #about-trottier{
    height: 120px;
    margin-left: 11.8em;
    margin-top: -5em;
    width: 120px;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  .info-us{
    font-size: 1.2em;
  }

  #messages{
    font-size: 3em;
    margin-top: 1.6em;
  }

  .upon-completion{
    width: 80%;
    height: 15em;
    margin-left: 3.4em;
    margin-top: 1em;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  .close-button{
    width: 20%;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  .reset-level{
    margin-top: -24px;
    margin-left: 8.5em;
  }

}
/*TABLET*//*TABLET*//*TABLET*//*TABLET*/

/*MOBILE*//*MOBILE*//*MOBILE*//*MOBILE*/
@media (max-width: 600px){  /*MOBILE*/
  #main_logo{
    font-size: 3em;
    margin-left: 0.6em;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #main-header{
    height: 15.5em;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  .puzzle_nerds{
    font-size: 3em;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  .el-menu{
    font-size: 0.9em;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #play_button{
    width: 21.411765%;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #back-button{
    width: 21.411765%;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #main-about-box{
    background-color: black;
    margin-left: 1em;
    margin-top: -8px;
    position: fixed;
    width: 90%;
  /*  height: 31.9em;*/
    z-index: 1000;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #your-status{
    margin-top: -2em;
/*    padding-left: 5em;*/
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #puzzle-set-2{
    margin-left: -2.5em;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  .level-set{

    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #puzzle-set-1{
    margin-left: -5.5em;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #about-chino{
    float: right;
    height: 50px;
    width: 100px;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #messages{
    font-size: 1em;
    margin-top: 2.5em;
  }


  #about-phillip{
    float: left;
    height: 50px;
    width: 100px;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #about-trottier{
    height: 50px;
    margin-left: 95px;
    width: 100px;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  #main-about-box{
    margin-top: -8em;
  }

  #la-info{
    height: 19em;
  }

  .info-us{
    font-size: 1.2em;
  }

  .level-set{1
    margin-left: 2em;
    margin-top: 0.2em;
  }

  .menu-set{
    float: left;
    margin-left: 3.5em;
  }

  .upon-completion{
    width: 80%;
    height: 10em;
    margin-left: 1.3em;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  .upon-completion > p{
    font-size: 15px;
  }

  .close-button{
    width: 40%;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;v
  }

  .reset-level{
    margin-top: 9em;
    margin-left: 6em;
  }


}
/*MOBILE*//*MOBILE*//*MOBILE*//*MOBILE*/


