.welcome{
  text-align: center;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
/*  display: none;*//*Home page main block*/
}

.puzzle_nerds{
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 5em;
  color: black;
/*  margin-top: -0.3em;*/
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
/*  display: none;*//*Home page main block*/
}

#play_button{
  width: 15.411765%;
  height: 3em;
  margin-top: 1.5em;
  display: block;
  margin: 0 auto;
  border-radius: 0.5em;
  font-size: 1.0em;
  font-family: 'Playfair Display', serif;
  background-color: red;
  border-color: black;
  outline: none;
  font-weight: bolder;
  color: white;
/*  display: none;*//*Home page main block*/
}

#play_button:hover{
  box-shadow: 0px 0px 20px red;
  border-radius: 0.6em;
  cursor: pointer;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
/*  display: none;*//*Home page main block*/
}
/*footer contact us*/
#footer_contact{
  font-size: 1.0em;
  text-align: center;
  color: black;
  bottom: 0;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
/*  display: none;*//*Home page main block*/
}


