.welcome{
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  text-align: center;
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.5);
}

.puzzle_nerds{
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 5em;
  text-align: center;
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.5);
}

.shuffle-button{
  color: black;
  display: none;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  text-align: left;
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.5);
}

#play_button{
  background-color: #B70D19;
  border-color: black;
  border-radius: 0.5em;
  color: white;
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 1.0em;
  font-weight: bolder;
  height: 3em;
  margin: 0 auto;
  margin-top: 1.5em;
  outline: none;
  width: 15.411765%;
}

#play_button:hover{
  border-radius: 0.6em;
  box-shadow: 0px 0px 20px red;
  cursor: pointer;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#back-button{
  background-color: red;
  border-color: black;
  border-radius: 0.5em;
  color: white;
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 1.0em;
  font-weight: bolder;
  height: 3em;
  margin: 0 auto;
  margin-top: 1.5em;
  outline: none;
  width: 15.411765%;
}

#back-button:hover{
  border-radius: 0.6em;
  box-shadow: 0px 0px 20px red;
  cursor: pointer;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.puzzle_fadeout{
  clear: right;
  color: white;
  float: right;
  margin-top: 2.5em;
}

.level-set {
  color: red;
  cursor: pointer;
  font-size: 35px;
  margin-left: 1em;
  margin-top: 2em;
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.5);
  text-align: left;
}

.level-set:hover{
  color: white;
  cursor: pointer;
  font-size: 36px;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
  -webkit-transition:.8s;
  -moz-transition:.8s;
  -ms-transition:.8s;
  -o-transition:.8s;
  transition:.8s;
}

#cflogo{
  height: 40px;
  margin-top: -5px;
  opacity: .8;
  width: 40px;
}

#cflogo:hover{
  opacity: 1;
}

#about-chino{
  box-shadow: 0px 0px 20px white;
  display: none;
  float: left;
  height: 190px;
  margin-left: 1em;
  margin-top: 2em;
  width: 190px;
}

#about-phillip{
  box-shadow: 0px 0px 20px white;
  display: none;
  float: right;
  height: 190px;
  margin-right: 1em;
  margin-top: 2em;
  width: 190px;
}

#about-trottier{
  box-shadow: 0px 0px 20px white;
  clear: both;
  display: none;
  height: 190px;
  margin-left: 11em;
  margin-right: 1em;
  margin-top: 2em;
  width: 190px;
}

#la-info{
  background-color: #6D4039;
  border-radius: 10px;
  box-shadow: 0px 0px 30px grey;
  clear: both;
  display: none;
  height: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  width: 90%;
}
#la-info:hover{
  box-shadow: 0px 0px 30px #6D4039;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.go-back{
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  text-align: center;
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.5);
}
.go-back:hover{
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 5);
}

.red{
  color: red;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  text-align: center;
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.5);
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.5);
}

.info-us{
  color: grey;
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.5);
}

.stat{
  margin: 0em;
  padding: 0em;
}



