.welcome{
  text-align: center;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
}

.puzzle_nerds{
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 5em;
  color: black;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
}

.shuffle-button{
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  color: black;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
}

#play_button{
  width: 15.411765%;
  height: 3em;
  margin-top: 1.5em;
  display: block;
  margin: 0 auto;
  border-radius: 0.5em;
  font-size: 1.0em;
  font-family: 'Playfair Display', serif;
  background-color: #B70D19;
  border-color: black;
  outline: none;
  font-weight: bolder;
  color: white;
}

#play_button:hover{
  box-shadow: 0px 0px 20px red;
  border-radius: 0.6em;
  cursor: pointer;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#back-button{
  margin:0 auto;
  width: 15.411765%;
  height: 3em;
  margin-top: 1.5em;
  display: block;
  border-radius: 0.5em;
  font-size: 1.0em;
  font-family: 'Playfair Display', serif;
  background-color: red;
  border-color: black;
  outline: none;
  font-weight: bolder;
  color: white;
}

#back-button:hover{
  box-shadow: 0px 0px 20px red;
  border-radius: 0.6em;
  cursor: pointer;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.puzzle_fadeout{
  color: white;
  float: right;
  clear: right;
  margin-top: 2.5em;
}

.level-set {
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
  font-size: 50px;
  cursor: pointer;
}
.level-set:hover{
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
  font-size: 50px;
  cursor: pointer;
  color: white;
  -webkit-transition:.8s;
  -moz-transition:.8s;
  -ms-transition:.8s;
  -o-transition:.8s;
  transition:.8s;
}

#cflogo{
  width: 40px;
  height: 40px;
  margin-top: -5px;
  opacity: .8;
}

#cflogo:hover{
  opacity: 1;
}

#about-chino{
  width: 190px;
  height: 190px;
  float: left;
  display: none;
  margin-top: 2em;
  margin-left: 1em;
  box-shadow: 0px 0px 20px white;
}

#about-phillip{
  width: 190px;
  height: 190px;
  float: right;
  display: none;
  margin-top: 2em;
  margin-right: 1em;
  box-shadow: 0px 0px 20px white;
}

#about-trottier{
  width: 190px;
  height: 190px;
  clear: both;
  display: none;
  margin-top: 2em;
  margin-right: 1em;
  margin-left: 11em;
  box-shadow: 0px 0px 20px white;
}

#la-info{
  width: 90%;
  height: 10em;
  background-color: white;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 30px white;
  margin-top: 3em;
  display: none;
}

#la-info:hover{
  box-shadow: 0px 0px 30px red;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.go-back{
  font-size: 2em;
  cursor: pointer;
  text-align: center;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
  font-family: 'Playfair Display', serif;
}

p{
  font-size: 1.5em;
  text-align: center;
  font-family: 'Playfair Display', serif;
}



