#messages{
  text-align: center;
  display: none;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
  margin-top: -3em;
}

#play-wrapper{/*700px*/
  width: 100%;
  max-width: 100%;
  height: 20.1em;
  display: block;
  margin: 0 auto;
  margin-top: 12em;
}

#main-puzzle-box{
  height: 39.7em;
  background-color:black;
  position: fixed;
  float: right;
  right: 0;
  display: none;
}

#main-about-box{
  width: 75%;
  background-color: black;
  margin: 0 auto;
  position: fixed;
  margin-left: 10.2em;
  margin-top: -15px;
  z-index: 998;
  padding-bottom: 0.5em;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#timer{
  font-size: 1.1em;
  color: red;
  cursor: crosshair;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
  font-family: 'Playfair Display', serif;
  z-index: 1000;
}
#timer:hover{
  color: black;
  font-family: 'Playfair Display', serif;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#average-time{
  font-size: 1.1em;
  color: red;
  cursor: crosshair;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
  font-family: 'Playfair Display', serif;
  z-index: 1000;
}
#average-time:hover{
  color: black;
  font-family: 'Playfair Display', serif;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#iq-level{
  font-size: 1.1em;
  color: red;
  cursor: crosshair;
  font-family: 'Playfair Display', serif;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
  z-index: 1000;
}
#iq-level:hover{
  color: black;
  font-family: 'Playfair Display', serif;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#your-status{
  padding-bottom: 1em;
  margin-top: 4em;
  float: left;
  position: fixed;
  display: none;
  z-index: 1000;
}

.puzzle-set-container{
  max-width: 99.0392156862745%;
  width: 75%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6.1em;
}

#puzzle-set-1{
  margin-left: -2em;
}

#puzzle-set-1 > li{
  display: inline-block;
  width: 19%;
  margin-left: -4px;
}

#puzzle-set-1 > li > img{
  width: 100%;
  height: 100%;
  margin-top: -5px;
/*  -webkit-filter: blur(10px);*/
}

#puzzle-set-2{
  width: 98%;
  margin-top: 2em;
}

#puzzle-set-2 > li{
  display: inline-block;
  margin-left: -4px;
  width: 12%;
}

#puzzle-set-2 > li > img{
  width: 100%;
  margin-top: -.3em;
}

.blur{
  -webkit-filter: blur(9px);
  -webkit-transition:.1s;
  -moz-transition:.1s;
  -ms-transition:.1s;
  -o-transition:.1s;
  transition:.1s;
}

