/*hidden*/
/*Home page main block*/
#play-wrapper{/*700px*/
  width: 100%;
  max-width: 100%;
  height: 20.1em;
  display: block;
  margin: 0 auto;
  margin-top: 12em;
/*  display: none;*/
/*Home page main block*/
}

#main-puzzle-box{
  height: 37.7em;
  background-color:black;
  position: fixed;
  float: right;
  right: 0;
  display: none;
}

#main-about-box{
  width: 70%;
/*  height: 31.9em;*/
  background-color: black;
  margin: 0 auto;
  position: fixed;
  margin-left: 12em;
  z-index: 1000;
  margin-top: -8px;
}

#timer{
  font-size: 1.6em;
  color: red;
  cursor: crosshair;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
  font-family: 'Playfair Display', serif;
}
#timer:hover{
  color: white;
  font-family: 'Playfair Display', serif;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#average-time{
  font-size: 1.6em;
  color: red;
  cursor: crosshair;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
  font-family: 'Playfair Display', serif;
}
#average-time:hover{
  color: white;
  font-family: 'Playfair Display', serif;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#iq-level{
  font-size: 1.6em;
  color: red;
  cursor: crosshair;
  font-family: 'Playfair Display', serif;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
}
#iq-level:hover{
  color: white;
  font-family: 'Playfair Display', serif;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
