#messages{
  color: white;
  display: none;
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  margin-top: -3em;
  text-align: center;
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.5);
}

#play-wrapper{/*700px*/
  height: 20.1em;
  margin: 0 auto;
  margin-top: 12em;
  max-width: 100%;
/*  display: none;*/
  width: 100%;
}

#main-puzzle-box{
  background-color: black;
  display: none;
  float: right;
  height: 300em;
  position: fixed;
  right: 0;
}

#main-about-box{
  background-color: black;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: 0 auto;
  margin-left: 10.2em;
  margin-top: -15px;
  padding-bottom: 0.5em;
  position: fixed;
  width: 75%;
  z-index: 998;
}

#timer{
  color: red;
  cursor: crosshair;
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.5);
  z-index: 1000;
}
#timer:hover{
  color: black;
  font-family: 'Playfair Display', serif;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#average-time{
  color: red;
  cursor: crosshair;
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.5);
  z-index: 1000;
}
#average-time:hover{
  color: black;
  font-family: 'Playfair Display', serif;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#iq-level{
  color: red;
  cursor: crosshair;
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
  text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.5);
  z-index: 1000;
}
#iq-level:hover{
  color: black;
  font-family: 'Playfair Display', serif;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#your-status{
  display: none;
  float: left;
  margin-top: 4em;
  padding-bottom: 1em;
  position: fixed;
  z-index: 1000;
}

.puzzle-set-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 99.0392156862745%;
  padding-left: 6.1em;
  width: 75%;
}

#puzzle-set-1{
  margin-left: -2em;
}

#puzzle-set-1 > li{
  display: inline-block;
  margin-left: -4px;
  width: 19%;
}

#puzzle-set-1 > li > img{
  height: 100%;
  margin-top: -5px;
  width: 100%;
/*  -webkit-filter: blur(10px);*/
}

#puzzle-set-2{
  margin-top: 2em;
  width: 98%;
}

#puzzle-set-2 > li{
  display: inline-block;
  margin-left: -4px;
  width: 12%;
}

#puzzle-set-2 > li > img{
  margin-top: -.3em;
  width: 100%;
}

.blur{
  -webkit-filter: blur(9px);
  -webkit-transition:.1s;
  -moz-transition:.1s;
  -ms-transition:.1s;
  -o-transition:.1s;
  transition:.1s;
}

.close-button{
  cursor: pointer;
  float: right;
  margin: 10%;
}

.upon-completion{
  background-color: white;
  border: 1px solid;
  color: #B70D19;
  display: none;
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
  height: 10em;
  margin-left: 6em;
  margin-top: 3em;
  padding-bottom: 5%;
  position: fixed;
  text-align: center;
  width: 80%;
}

.upon-completion > p{
  padding-top: 5em;
}

