#messages{
  text-align: center;
  /*display: none;*/
  color: red;
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
}

#play-wrapper{/*700px*/
  width: 100%;
  max-width: 100%;
  height: 20.1em;
  display: block;
  margin: 0 auto;
  margin-top: 12em;
}

#main-puzzle-box{
  height: 37.7em;
  background-color:black;
  position: fixed;
  float: right;
  right: 0;
  display: none;
}

#main-about-box{
  width: 70%;
  background-color: black;
  margin: 0 auto;
  position: fixed;
  margin-left: 12em;
  z-index: 998;
  margin-top: -8px;
}

#timer{
  font-size: 1.3em;
  color: red;
  cursor: crosshair;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
  font-family: 'Playfair Display', serif;
}
#timer:hover{
  color: black;
  font-family: 'Playfair Display', serif;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#average-time{
  font-size: 1.3em;
  color: red;
  cursor: crosshair;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
  font-family: 'Playfair Display', serif;
}
#average-time:hover{
  color: black;
  font-family: 'Playfair Display', serif;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#iq-level{
  font-size: 1.3em;
  color: red;
  cursor: crosshair;
  font-family: 'Playfair Display', serif;
  text-shadow:0px 0px 20px  rgba(255, 255, 255, 0.5);
}
#iq-level:hover{
  color: black;
  font-family: 'Playfair Display', serif;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#your-status{
  padding-bottom: 1em;
  margin-top: 4em;
  float: left;
  position: fixed;
  display: none;
  z-index: 1000;
}

.puzzle-set-container{
  max-width: 99.0392156862745%;
  width: 75%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6.1em;
}

.puzzle-set-1{
}

.puzzle-set-1 > li{
  display: inline-block;
  float: left;
  width: 17%;
}

.puzzle-set-1 > li > img{
  width: 100%;
  height: 100%;
  margin-top: -5px;
  opacity: 1;
}

.puzzle-set-1 > li > img:hover{
  opacity: 1;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#puzzle-set-2{
  width: 100%;
  margin-top: 2em;
  margin-left: -1.6em;
}

#puzzle-set-2 > li{
  display: inline-block;
  margin-left: -4px;
  opacity: .6;
  width: 12%;
}

#puzzle-set-2 > li > img{
  width: 100%;
  margin-top: -.3em;
}

